﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoTWiki</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }

        .dropdown > .dropdown-toggle:active {
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Game of Thrones Wiki</h1>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" style="padding-left:20px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">WORLD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">CHARACTERS</a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link py-0" href="#">Lanisters</a></li>
                            <li class="nav-item">
                                <a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1">Stark</a>
                                <div class="collapse" id="submenu1sub1" aria-expanded="false">
                                    <ul class="flex-column nav pl-4">
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="~/Bran_Stark">
                                                Bran Stark
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                Jon Snow
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GOT EPISODES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PREQUELS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EXPLORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link float" href="#">DISCUSS</a>
                </li>
                </ul>
            <ul class="navbar-nav media-right">
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Login">Login</a>
                </li>
            </ul>
                
            </ul>
        </div>
    </nav>
    <br>
    <div style="margin-bottom:0">

        <h1 style="padding-left:60px">@ViewData["Title"]</h1>

    </div>
    <hr>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <div class="jumbotron text-center" style="margin-bottom:0">
                <p>&copy; 2019 - GoTWiki</p>
            </div>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
