﻿
@{
    ViewData["Title"] = "Bran Stark";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>
                <i>Brandon Stark</i>, commonly called Bran, is the fourth child and second son of Eddard and
                Catelyn Stark. Bran is a warg and a
                greenseer serving as the new <i>Three-Eyed Raven</i>, using his supernatural gifts in the war
                against the Night King and the
                White Walkers
            </p>
            <br>
            <h2>Biography</h2>
            <hr>
            <h3>Background</h3>
            <br>
            <p>
                Bran is the fourth child and second son of Lady Catelyn and Lord Ned Stark. Ned is the head of House
                Stark and Lord Paramount of the North. The North is one of the constituent regions of the Seven
                Kingdoms and House Stark is one of the Great Houses of the realm. House Stark rules the region from
                their seat of Winterfell and Ned also holds the title Lord of Winterfell. He is also the Warden of
                the North to King Robert Baratheon.[2]

                Bran was born and raised at Winterfell. He has an older brother Robb, a younger brother Rickon, two
                older sisters Sansa and Arya, and an older "bastard half-brother", Jon Snow, who is actually Bran's
                first cousin by his aunt Lyanna Stark. Bran was named for Ned's elder brother, Brandon, who was
                brutally executed by the Mad King along with Bran's paternal grandfather Rickard Stark. He is only
                called "Brandon" by his mother when he has done something wrong. Bran dreams of being a knight of
                the Kingsguard, and his favorite hobby is climbing the walls of Winterfell, using its old rooftops
                and passageways to get around.
            </p>
        </div>
        <div class="col-4 mx-auto text-center">
            <div class="border border-dark rounded">
                <p><i>Brandon Stark</i></p>
                <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/d/d8/%22It%27s_Wasted_On_A_Cripple%22.png/revision/latest?cb=20171006183914"
                     alt="BranStark" width="270" height="382">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p>Season(s)</p>
                        </div>
                        <div class="col-5">
                            <p>1,2,3,4,6,7,8</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p>First seen</p>
                        </div>
                        <div class="col-5">
                            <p>"Winter Is Coming"</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

