﻿@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://www.hbo.com/content/dam/hbodata/series/game-of-thrones/episodes/1/game-of-thrones-1-1920x1080.jpg/_jcr_content/renditions/cq5dam.web.1200.675.jpeg" alt="Second slide" style="height:500px;width:50%">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://vignette.wikia.nocookie.net/gameofthrones/images/8/8d/Valyria_on_the_Doom.png/revision/latest/scale-to-width-down/670?cb=20170918150752" alt="First slide" style="height:500px;width:50%">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2017/08/2017_GameOfThrones_HBO_220817-920x584.jpg" alt="Third slide" style="height:500px;width:50%">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br />
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th style="text-align: center">CHARACTERS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/2/25/Jon-Portal.png/revision/latest/scale-to-width-down/122?cb=20170814110246"
                                 alt="Jon-Portal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/f/f6/Pet-S6-Portal.jpg/revision/latest?cb=20160219102316"
                                 alt="Pet-S6-Portal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/5/51/JorahCastPortal2.png/revision/latest/scale-to-width-down/122?cb=20180412195946"
                                 alt="JorahCastPortal2" class="rounded">
                        </td>
                        <td>
                            <a href="~/Bran_Stark">
                                <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/3/38/Bra-S6-Portal.jpg/revision/latest?cb=20160219085238"
                                     alt="Bran-S6-Portal" class="rounded">
                            </a>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/c/c9/Arya-Portal.png/revision/latest/scale-to-width-down/122?cb=20170814110112"
                                 alt="Arya-Portal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/a/a5/Sansa-Portal.png/revision/latest/scale-to-width-down/122?cb=20170814110607"
                                 alt="Sansa-Portal" class="rouded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/3/30/Danny-Portal.png/revision/latest/scale-to-width-down/122?cb=20170814110400"
                                 alt="Danny-Portal" class="rounded">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/3/3d/Cersei_CastPortal.jpg/revision/latest/scale-to-width-down/122?cb=20170813034325"
                                 alt="Cersei CastPortal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/d/db/Jaime-Portal.png/revision/latest/scale-to-width-down/122?cb=20170813034418"
                                 alt="Jaime-Portal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/1/1b/Tyrion-Portal.png/revision/latest?cb=20170624075910"
                                 alt="Tyrion-Portal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/5/59/Varys-Portal.png/revision/latest?cb=20170624082259"
                                 alt="Varys-Portal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/c/cd/Samwell-Portal.png/revision/latest?cb=20170624101250"
                                 alt="Samwell-Portal" class="rounded">
                        </td>
                        <td>
                            <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/9/94/Bronn_portal_s6.jpg/revision/latest?cb=20160705001545"
                                 alt="Bronn portal s6" class="rounded">
                        </td>
                        <td><img src="https://vignette.wikia.nocookie.net/gameofthrones/images/b/b1/Sandor-Portal.png/revision/latest?cb=20170624083050" alt="Sandor-Portal" class="rounded"></td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
